option_settings:
  aws:elbv2:listener:443:
    DefaultProcess: default
    ListenerEnabled: 'true'
    Protocol: HTTPS
    SSLCertificateArns: arn:aws:acm:us-east-1:090067352159:certificate/169f24f5-6e4e-4860-9a9c-6387c072b9bf
  aws:elbv2:listener:80:
    ListenerEnabled: 'false'
  aws:elasticbeanstalk:environment:process:default:
    HealthCheckPath: /get/lists
    Port: '80'
    Protocol: HTTP