option_settings:
  aws:elbv2:listener:80:
    DefaultProcess: http
    ListenerEnabled: 'false'
    Protocol: HTTP
  aws:elbv2:listener:443:
    DefaultProcess: https
    ListenerEnabled: 'true'
    Protocol: HTTPS
    SSLCertificateArns: arn:aws:acm:us-east-1:090067352159:certificate/169f24f5-6e4e-4860-9a9c-6387c072b9bf
  aws:elasticbeanstalk:environment:process:default:
    DeregistrationDelay: '20'
    HealthCheckInterval: '15'
    HealthCheckPath: /get/lists
    HealthCheckTimeout: '5'
    HealthyThresholdCount: '3'
    UnhealthyThresholdCount: '5'
    Port: '443'
    Protocol: HTTPS
    StickinessEnabled: 'true'
    StickinessLBCookieDuration: '43200'